@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iCiel Koni";
  src: local("iCiel Koni"),
    url("./font/iCiel_Koni/iCiel\ Koni.otf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.montserrat {
  font-family: "Montserrat";
}

.iciel-koni {
  font-family: "iCiel Koni";
}

.header {
  box-shadow: 0px 4px 35px rgba(161.5, 58.14, 0, 0.75);
  /* Làm thành hình vòng cung ở dưới với chiều dài bằng 100% */
  /* border-radius: 0 0 50% 50% / 0 0 100% 100%; */
  border-radius: 0% 0% 80% 80% / 0% 0% 38% 38%;
  position: absolute;
  width: 100%;
  z-index: 999999;
}

.bg-gradient {
  background: linear-gradient(0deg, #FF8B2C 2%, #FF8D2A 4%, #FFA413 38%, #FFB105 69%, #FFB600 97%);
}

.card-bg {
  border: none;
  background: linear-gradient(0deg, #FFC42C 7%, #FFD600 97%, #FFa426 38%, #FFa426 69%, #FFa426 97%);
  z-index: 1;
}

/* .ant-card .ant-card-body {
  padding: 18px;
} */

.ant-card.ant-card-bordered.card div.ant-card-body {
  padding: 6px;
}